<!DOCTYPE html>

<html lang="en-US">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body style="background-color: red;">

<h1>Conditions</h1>

<div class="main">
    {% for data in dataset %}.
    {{ data.conditions_id }}<br/>
    {{ data.name_condition }}<br/>
    <hr/>

    <a href="{% url 'delete_view' part_id=data.conditions_id %}"><i class="Delete"><p>Delete</p></i></a>    
    {% endfor %}
</div>

<a href='/'><button>Return Home</button></a>

</body>

</html>
