<h1>HEALTH NOTES CHALLENGE - HOME</h1>



<h2>Practitioner</h2>

<p><a href='{% url "page1" %}'>Practitioner</a></p>

<h2>Conditions</h2>

<p><a href='{% url "page1" %}'>Conditions</a></p>

<h2>Treatments</h2>

<p><a href='{% url "page1" %}'>Treatments</a></p>

<h4>Disclaimer: This website is for informational purposes only.
    In no way, shape or form should this website or it's creators
    be considered to be practicing medicine or providing medical
    advise. The goal of this website is to foster dialogue between
    practitioners, regarding medical conditions and their treatments,
    especially focusing on clinical trials being evaluated by the FDA.
</h4>

<h2>Practitioner Sign-In Below:</h2>

<form action="" method="POST">
    {% csrf_token %}
    {{ SignIn }}
    <input type="submit" value="Submit">
</form>

<p>{% filter force_escape|lower %}
    This text will be HTML-escaped, and will appear in all lowercase.
{% endfilter %}</p>
