<body style="background-color: aquamarine;"></body>

<h1>HEALTH NOTES CHALLENGE - HOME</h1>

<h4>Welcome to my homepage! Health Notes Challenge is a public
    forum targeting healthcare practitioners and providers of
    all levels of education and experience, encouraging free exchange
    of ideas using a post format, regarding a broad spectrum of 
    conditions and treatments affecting individuals.

    To utilize the site, first go to the sign in form at the bottom
    of this page and complete the required fields and submit to gain
    access to the portal page.
    
    From the portal page, choice from the options Practitioner, 
    Conditions, Treatments and Post. As an example, go to Post and
    complete the required fields, adding what you like and submit.

    After submitting, click on re-submit credentials and this will
    take you back to the homepage. From here you can go to the Posts
    link and click, it will take you to your most recent post, which 
    you can update or delete.

    We hope you find the information on the site useful!
    
</h4>

<h2>Practitioner DB entries</h2>

<p><a href='{% url "page1" %}'>Practitioners</a></p>

<h2>Conditions DB entries</h2>

<p><a href='{% url "conditions" %}'>Conditions</a></p>

<h2>Treatments DB entries</h2>

<p><a href='{% url "treatments" %}'>Treatments</a></p>

<h2>Posts DB entries</h2>

<p><a href='{% url "posts" %}'>Posts</a></p>

<h4>Disclaimer: This website is for informational purposes only.
    In no way, shape or form should this website or it's creators
    be considered to be practicing medicine or providing medical
    advise. The goal of this website is to foster dialogue between
    practitioners, regarding medical conditions and their treatments,
    especially focusing on clinical trials being evaluated by the FDA.

<h2>Practitioner Sign-In Below:</h2>

<form action="" method="POST">
    {% csrf_token %}
    {{ SignIn }}
    <input type="submit" value="Submit">
</form>

<p>{% filter force_escape|lower %}
    This text will be HTML-escaped, and will appear in all lowercase.
{% endfilter %}</p>
