<h1>Health Notes Challenge - Home</h1>

<p><a href='{% url "page1" %}'>link</a></p>

<h2>Practioner</h2>

<h2>Condition</h2>

<h2>Treatment</h2>

<h4>Dislcaimer: This website is for informational purposes only.
    In no way, shape or form should this website or it's creators
    be considered to be practicing medicine or provising medical
    advise. The goal of this website is to foster dialogue between
    practitioners, regarding medical conditons and their treatments,
    especially focusing on clinical trials being evaluated by the FDA.

</h4>
<form action="/your-name/" method="get">
    {% csrf_token %}
    {{ SignIn }}
    <input type="submit" value="Submit">
</form>