<!DOCTYPE html>

<html lang="en-US">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body style="background-color: rgba(255, 255, 0, 0.877);">

<h1>Practitioner</h1>

<div class="main">
    {% for data in dataset %}.
    {{ data.practitioner_id }}<br/>
    {{ data.first_name }}<br/>
    {{ data.last_name }}<br/>
    {{ data.occupation }}<br/>
    {{ data.degree }}<br/>
    {{ data.email }}<br/>
    {{ data.phone }}<br/>
    <hr/>
    
    <a href="{% url 'delete_pra_view' part_id=data.practitioner_id %}"><i class="Delete"><p>Delete</p></i></a>
    {% endfor %}
</div>

<a href='/'><button>Return Home</button></a>

</body>

</html>
