<!DOCTYPE html>

<html>

<body style="background-color: rgba(255, 255, 0, 0.774);">

<h1>PORTAL</h1>    

<h1>Practitioner Info:</h1>
<p>First Name: {{ request.session.practitioner.first_name }}</p>
<p>Last Name: {{ request.session.practitioner.last_name }}</p>
<p>Occupation: {{ request.session.practitioner.occupation }}</p>
<p>Degree: {{ request.session.practitioner.degree }}</p>
<p>Email: {{ request.session.practitioner.email }}</p>
<p>Phone: {{ request.session.practitioner.phone }}</p>

<h1>Conditions</h1>
<p>Conditions: {{ request.session.ConditionsPost.name_condition }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ Conditions.as_p }}
    <input type="submit" value="Submit">
</form>

<h1>Treatments</h1>
<p>Medical: {{ request.session.TreatmentsPost.medical }}</p>
<p>Surgical: {{ request.session.TreatmentsPost.surgical }}</p>
<p>Radiation: {{ request.session.TreatmentsPost.radiation }}</p>
<p>Chemotherapy: {{ request.session.TreatmentsPost.chemotherapy }}</p>
<p>Other Alternative: {{ request.session.TreatmentsPost.other_alternative }}</p>
<p>Palliative: {{ request.session.TreatmentsPost.palliative }}</p>
<p>Clinical Trials: {{ request.session.TreatmentsPost.clinical_trials }}</p>

<form action="" method="POST">
    {% csrf_token %}
    {{ Treatments.as_p }}
    <input type="submit" value="Submit">
</form>



<h1>Post</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ Post.as_p }}
    <input type="submit" value="Submit">
</form>

<a href='/'><button>Re-Enter Credentials/Return Home</button></a>

</body>

</html>