<!DOCTYPE html>

<html lang="en-US">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body style="background-color: rgb(11, 159, 245);">

<h1>Treatments</h1>

<div class="main">
    {% for data in dataset %}.
    {{ data.treatments_id }}<br/>
    {{ data.medical }}<br/>
    {{ data.surgical }}<br/>
    {{ data.radiation }}<br/>
    {{ data.chemotherapy }}<br/>
    {{ data.other_alternative }}<br/>
    {{ data.palliative }}<br/>
    {{ data.clinical_trials }}<br/>
    <hr/>
    
    <a href="{% url 'delete_tre_view' part_id=data.treatments_id %}"><i class="Delete"><p>Delete</p></i></a>    
    {% endfor %}
</div>

<a href='/'><button>Return Home</button></a>

</body>

</html>
