<!DOCTYPE html>

<html lang="en-US">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body style="background-color: blue;">

<h1>Treatments</h1>

<div class="main">
    {% for data in dataset %}.
    {{ data.medical }}<br/>
    {{ data.surgical }}<br/>
    {{ data.radiation }}<br/>
    {{ data.chemotherapy }}<br/>
    {{ data.other_alternative }}<br/>
    {{ data.palliative }}<br/>
    {{ data.clinical_trials }}<br/>
    <hr/>
    {% endfor %}
</div>

<a href='/'><button>Return Home</button></a>

</body>

</html>
